metadata.broker.list=wow-dev-lm-hub-gauravtest.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=$ConnectionString
sasl.password=Endpoint=sb://wow-dev-lm-hub-gauravtest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZZLT1bWET5W1X6emEqW7jzIVYIxqdmpn5iX4yDVBM8s=